* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Inter, sans-serif;

    margin: 0;
    
<<<<<<< HEAD
    background-color: #8a0000;
=======
    background-color: #4b0000;
>>>>>>> dev

    height: 100dvh;
}

main{
<<<<<<< HEAD
    display: grid;
    grid-template-columns: repeat(2,1fr);
=======
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.diceContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
>>>>>>> dev
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    align-items: center;

    background-color: #cecaca;

    height: 85vh;
    width: 85vw;
    height: 85dvh;
    width: 85dvw;

    border-radius: 10px;
}

<<<<<<< HEAD
button{
=======
.diceContainer button{
>>>>>>> dev
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Inter, sans-serif;
    font-size: 3rem;
    font-weight: bold;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
    width: 100px;
    height: 100px;

    background-color: #f0f0f0;

    border: none;
    border-radius: 10px;
<<<<<<< HEAD
}

@media (min-width: 480px){

=======

    cursor: pointer;
}

button.rollDice{
    height: 50px;
    width: 100%;

    border: none;
    border-radius: 6px;

    background-color: #ff9318;
    color: black;

    font-size: 1.5rem;
    font-weight: bold;

    cursor: pointer;
>>>>>>> dev
}

@media (min-width: 768px){

<<<<<<< HEAD
=======
    button.rollDice{
    height: 80px;
    }

    .diceContainer button{
        height: 150px;
        width: 150px;
    }

>>>>>>> dev
}

@media (min-width: 1024px){

<<<<<<< HEAD
=======
    .diceContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    }

    .diceContainer button{
        height: 170px;
        width: 170px;
    }

>>>>>>> dev
}

@media (min-width: 1280px){

<<<<<<< HEAD
=======

>>>>>>> dev
}

@media (min-width: 1440px){

<<<<<<< HEAD
=======

>>>>>>> dev
}